@charset "utf-8";
.all{
    margin: 100px auto;
}
.all>h2{
    font: bolder 42px/52px sans-serif;
    text-align: center;
}
.box-greeting{
    margin-bottom: 18px;
}
.box-greeting>form{
    display: flex;
    justify-content: center;
}
.box-greeting>form>input{}
.box-greeting>h3{
    text-align: center;
    font: bolder 54px/72px serif;
}
.box-todo{}
.box-todo>form{
    display: flex;
    justify-content: center;
}
.box-todo>form>input{
    margin: 0 auto;
}
.box-todo>ul{
    list-style: none;
}
.box-todo>ul>li{
    text-align: center;
    font: 18px/32px sans-serif;
}
.box-todo>ul>li>span{
    margin-right: 10px;
}
#quotes{
    margin: 35px 0 0;
    text-align: center;
}
#quotes span{
    display: block;
    font: 18px/24px serif;
}
#quotes span:last-child{
    font: 14px/22px serif;
}
#weather{
    margin-top: 20px;
    text-align: center;
    font: bold 16px/18px sans-serif;
}
.hidden{
    display: none;
}