@charset "utf-8";
body{
    position: relative;
}
.all{
    width: 100%;
    height: auto;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    position: absolute;
}
.all>h2{
    font-weight: bold;
    font-size: 63px;
    text-align: center;
    color: #fff;
}
input, button{
    border: none;
    background-color: none;
    outline: none;
}

.box-greeting, .box-todo{
    width: 500px;
    margin: 0 auto 18px;
}
.box-greeting>form{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    margin-bottom: 32px;
}
.box-greeting>form>input{
    width: 400px;
    font-weight: lighter;
    font-size: 24px;
    line-height: 52px;
    text-indent: 8px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
}

#greeting{
    font-size: 24px;
    text-align: center;
    color: #fff;
}

.box-todo>form{
    width: 100%;
    border-bottom: 1px solid #fff;
}
.box-todo>form>input{
    width: 100%;
    font: lighter 24px/52px Arial, Helvetica, sans-serif;
    text-indent: 8px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
}
.box-todo>ul{
    list-style: none;
    padding: 24px 0;
}
.box-todo>ul>li{
    margin-bottom: 12px;
    line-height: 24px;
    text-align: center;
    color: #fff;
}
.box-todo>ul>li>span{
    margin-right: 10px;
}
.box-todo>ul>li>button{
    background-color: rgba(0, 0, 0, 0);
}

#quotes{
    width: 500px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}
#quotes span:first-child{
    display: block;
    margin-bottom: 18px;
    font: 18px/32px serif;
}
#quotes span:last-child{
    font: 11px/21px serif;
}
#weather{
    margin-top: 20px;
    text-align: center;
    font: bold 16px/18px sans-serif;
}
.hidden{
    display: none;
}